<div *ngIf="student$|async as student">
    <label for="edit-fname">First Name: </label>
    <input #fname id="edit-fname" type="text" value={{student.firstName}}>
    <br>
    <label for="edit-lname">Last Name: </label>
    <input #lname id="edit-lname" type="text" value={{student.lastName}}>
    <br>
    <label for="edit-age">Age: </label>
    <input #age id="edit-age" type="text" value={{student.age}}>
    <br>
    <button (click)="submitEdit(fname.value, lname.value, age.value)">Update</button>
</div>